.parent,.bg,.fg
    width: 100%
    height: 100%

.parent
    display: grid
.bg,.fg
    grid-area: 1/1
.bg
    pointer-events: none
.fg
    z-index: 2

.titleCard
    display: flex

    background-color: #3D3137

    border-radius: 11px
    height: fit-content
    width: 100%
    padding: 10px
    transform-origin: center right

.titleCardParent

.text
    padding: 0px 30px
    width: 100%
    color: #FFF
    font-family: Inter
    font-size: 54px
    font-style: normal
    font-weight: 600
    line-height: normal
    letter-spacing: -3px
    .italics
        color: #FFF
        font-family: Inter
        font-size: 54px
        font-style: italic
        font-weight: 300
        line-height: normal
        letter-spacing: -3px
        opacity: 0.79
.imageParent
    display: flex
    height: fit-content
    align-items: center
    width: 100% //TODO: make media queries so size doesnt fuck up.
.team
    margin-top: 16px // i eyeballed this shit so its aligned with the rest
    border-radius: 11px
    transform-origin: top left
    background-color: #3D3137
    flex: 1

    display: flex

.sih
    background-color: #3D3137
    border-radius: 11px

.sec1
    display: grid
    grid-auto-rows: 1fr
    grid-template-columns: 70vw 28vw

    height: 100%
